/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* Variables */
:root {
    --containerWidth: 800px;
    --containerPadding: 20px;
    --fontSize1: 18px;
    --fontSize2: 14px;
    --fontSize3: 12px;
    --fontColor1: rgb(0, 0, 0);
    --fontColor2: rgb(85, 85, 85);
    --backgroundColor1: rgb(255, 255, 255);
    --backgroundColor2: rgb(245, 245, 245);
    --lineColor: rgb(85, 85, 85);
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: auto;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.container {
    max-width: var(--containerWidth);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--containerPadding);
    padding-right: var(--containerPadding);
}
.page {
    padding-top: 50px;
}