.blog-content h2 {
    font-size: var(--fontSize2);
    color: var(--fontColor1);
    font-weight: 700;
    margin: 20px 0 10px 0;
}
.blog-content p {
    font-size: var(--fontSize3);
    color: var(--fontColor1);
    font-weight: 500;
    margin: 0 0 20px 0;
}
.blog-content a {
    font-size: var(--fontSize3);
    color: var(--fontColor3);
    font-weight: 500;
    margin: 0 0 20px 0;
    text-decoration: underline;
    cursor: pointer;
}
.blog-content strong {
    font-size: var(--fontSize3);
    color: var(--fontColor1);
    font-weight: 700;
    margin: 0 0 20px 0;
}
.blog-content em {
    font-size: var(--fontSize3);
    color: var(--fontColor1);
    font-weight: 500;
    margin: 0 0 20px 0;
}
.blog-content img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}
.blog-content pre, .blog-content pre > code {
    max-width: 100%;
    display: block;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}
.blog-content pre > code {
    padding: 10px;
}
.blog-content p > code {
    padding: 2px;
}
.blog-content code {
    font-size: var(--fontSize3);
    color: var(--fontColor1);
    font-weight: 500;
    background-color: var(--backgroundColor2);
    word-wrap: break-word;
    box-decoration-break: clone;
    border-radius: 2px;
}
.blog-content table {
    border-collapse: collapse;
    width: 100%;
    font-size: var(--fontSize3);
    margin: 0 0 10px 0;
}
.blog-content th, .blog-content td {
    padding: 5px;
    text-align: left;
    border: 1px solid var(--lineColor);
    font-weight: 500;
}
.blog-content th {
    font-weight: 700;
}
.blog-content tr:nth-child(even) {
    background-color: var(--backgroundColor2);
}
.blog-content ul {
    padding-left: 20px;
    font-size: var(--fontSize3);
    color: var(--fontColor1);
    font-weight: 500;
    margin: 0 0 10px 0;
}
.blog-content ol {
    padding-left: 20px;
    font-size: var(--fontSize3);
    color: var(--fontColor1);
    font-weight: 500;
    margin: 0 0 10px 0;
}
.blog-content blockquote {
    padding: 10px;
    font-size: var(--fontSize3);
    color: var(--fontColor1);
    font-weight: 500;
    background-color: var(--backgroundColor2);
    border-left: 2px solid var(--lineColor);
    border-radius: 2px;
    margin: 0 0 10px 0;
}